.page_number_container {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

.page_number {
	display: table-cell;
	min-width: 50px;
	height: 25px;
	padding: 5px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	background-color: #f8f9fa;
	border-radius: 5px;
}